/* ============================================
   Main Stylesheet - Konst och Ansvar
   Matching original konstochansvar.se layout
   ============================================ */

body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* centers container in IE 5* browsers */
    color: #000000;
    background-color: #DDDDDD;
}

.twoColFixLtHdr #container {
    width: 780px; /* 20px less than 800px to avoid horizontal scroll */
    background: #FFFFFF;
    margin: 0 auto; /* centers the page */
    border: 1px solid #000000;
    text-align: left; /* overrides text-align: center on body */
}

.twoColFixLtHdr #bildhallare {
    color: #FFFFFF;
    height: 128px;
    border: none;
}

.twoColFixLtHdr #bildhallare img {
    display: block;
    width: 780px;
    height: 128px;
}

.twoColFixLtHdr #navigationsfält {
    height: 25px;
    background-color: #FFFFFF;
    border-top: none;
    border-right: none;
    border-bottom: solid thin;
    border-left: none;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: #000000;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    font-size: 12px;
}

.twoColFixLtHdr #navigationsfält table {
    width: 761px;
    border: 0;
    border-collapse: collapse;
}

.twoColFixLtHdr #navigationsfält th {
    padding: 0;
    text-align: left;
    font-weight: normal;
}

.twoColFixLtHdr #navigationsfält a {
    text-decoration: none;
    color: #000000;
}

.twoColFixLtHdr #navigationsfält a:hover {
    text-decoration: underline;
}

.twoColFixLtHdr #sidebar1 {
    float: left;
    width: 180px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #FFFFFF;
    font-size: 12px;
}

.twoColFixLtHdr #sidebar1 p {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.twoColFixLtHdr #sidebar1 a {
    text-decoration: none;
    color: #000000;
}

.twoColFixLtHdr #sidebar1 a:hover {
    text-decoration: underline;
}

.twoColFixLtHdr #mainContent {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 210px; /* 180px sidebar + 30px padding */
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    margin-top: 0;
    font-size: 12px;
}

.twoColFixLtHdr #mainContent h3 {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.twoColFixLtHdr #mainContent h5 {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: normal;
}

.twoColFixLtHdr #mainContent p {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.twoColFixLtHdr #mainContent blockquote {
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

.twoColFixLtHdr #mainContent a {
    text-decoration: none;
    color: #000000;
}

.twoColFixLtHdr #mainContent a:visited {
    text-decoration: none;
    color: #000000;
}

.twoColFixLtHdr #mainContent a:hover {
    text-decoration: underline;
}

.twoColFixLtHdr #mainContent a:active {
    text-decoration: none;
}

.twoColFixLtHdr #footer {
    background-color: #FFFFFF;
    margin-left: 210px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    font-size: 9px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.twoColFixLtHdr #footer p {
    margin: 0;
    padding: 10px 0;
}

/* Image floating classes */
.fltrt {
    float: right;
    margin-left: 8px;
}

.fltlft {
    float: left;
    margin-right: 8px;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.style3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.style5 {
    color: #0000FF;
}

/* Link styles */
a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

/* IE 5 fixes */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .twoColFixLtHdr #sidebar1 {
        width: 230px;
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 800px) {
    .twoColFixLtHdr #container {
        width: 100%;
        max-width: 780px;
        border-left: none;
        border-right: none;
    }
    
    .twoColFixLtHdr #bildhallare img {
        width: 100%;
        height: auto;
        max-width: 780px;
    }
    
    .twoColFixLtHdr #navigationsfält {
        padding-left: 10px;
    }
    
    .twoColFixLtHdr #navigationsfält table {
        width: 100%;
    }
    
    .twoColFixLtHdr #sidebar1 {
        float: none;
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
    }
    
    .twoColFixLtHdr #mainContent {
        margin-left: 0;
        padding-left: 20px;
    }
    
    .twoColFixLtHdr #footer {
        margin-left: 0;
        padding-left: 20px;
    }
}
