<!DOCTYPE html>
<html lang="{{ site.data.metadata.lang | default: 'sv' }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.site.name | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/images/icons/favicon.ico">
</head>
<body class="twoColFixLtHdr">
<div id="container">
  <div id="bildhallare">
    <img src="{{ '/assets/images/icons/ikalogo2.jpg' | relative_url }}" width="780" height="128" alt="{{ site.data.site.name }}" />
  </div>
  
  {% include navigation.html %}
  
  <div id="sidebar1">
    {% include sidebar.html %}
  </div>
  
  <div id="mainContent">
    {{ content }}
  </div>
  
  <br class="clearfloat" />
  
  <div class="style3" id="footer">
    © {{ 'now' | date: "%Y" }} {{ site.data.site.name | default: "IKA" }}
  </div>
</div>
</body>
</html>
